        /* >> Hiếu iceTea */

        /* Reset CSS (Hiếu iceTea) */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Roboto Mono;

        }

        p {
            margin-bottom: 0;
        }


        h3 {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 0;
        }

        /* cấu hình headline */

        .headline {
            height: 40px;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            background-color: #f1f1f1;
            line-height: 40px;
        }

        .headline .left {
            float: left;
        }

        .headline .right {
            float: right;
        }

        .headline .right ul {
            list-style: none;
        }

        .headline .right ul li {
            display: inline;
            margin-right: 12px;
        }

        .headline .right ul li:last-child {
            margin-right: 0px;
        }

        .headline .right ul li a {
            color: black;
        }

        .headline .right ul li a:hover {
            color: blueviolet;
        }

        #ModalLogin button[type=submit] {
            background-color: #ED1C24;
            color: white;
            border: none;
            border-radius: 0;
            width: 160px;
            height: 50px;
            font-size: 20px;
            font-weight: medium;
            margin-bottom: 20px;
        }

        #ModalLogin .modal-header {
            border-bottom: none;

            padding-top: 50px;
            padding-left: 80px;
            padding-right: 80px;
            padding-bottom: 30px;

            position: relative;
        }

        #ModalLogin .modal-body .col-12 {
            padding: 0;
        }

        #ModalLogin .modal-body .col-12 a {
            float: right;
            vertical-align: bottom;
        }


        #ModalLogin #forgot-pw {
            float: right;
            line-height: 50px;
        }

        .modal-dialog {
            max-width: 812px;
        }

        .modal-body {
            padding-bottom: 50px;
            padding-left: 97px;
            padding-right: 97px;
            padding-top: 0;
        }

        #ModalLogin .form-group:nth-child(1) {
            margin-bottom: 30px;
        }

        #ModalLogin .form-group:nth-child(2) {
            margin-bottom: 26px;
        }

        .close {
            position: absolute;
            right: 25px;
            top: 20px;
        }




        #ModalSignUp button[type=submit] {
            background-color: #ED1C24;
            color: white;
            border: none;
            border-radius: 0;
            width: 160px;
            height: 50px;
            font-size: 20px;
            font-weight: medium;
            margin-bottom: 20px;
        }

        #ModalSignUp .modal-header {
            border-bottom: none;

            padding: 50px 80px 30px 80px;

            position: relative;
        }

        #ModalSignUp .form-group:nth-child(1) {
            margin-bottom: 30px;
        }

        #ModalSignUp .form-group:nth-child(2) {
            margin-bottom: 26px;
        }


        #complete-signup .modal-header {
            border-bottom: none;
        }

        #complete-signup .modal-body p {
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            padding-top: 10px;
        }

        #complete-signup .modal-body {
            padding-left: 40px;
            padding-right: 40px;
        }


        #recoveryPassword .modal-header {
            border-bottom: 0;
        }

        #recoveryPassword .modal-footer {
            border-top: 0;
        }

        #recoveryPassword .modal-body h3 {
            text-align: center;
            padding-bottom: 30px;
            padding-top: 44px;
        }

        #recoveryPassword .modal-body p {
            padding-bottom: 10px;
        }

        #recoveryPassword .modal-body button {
            background-color: #ED1C24;
            color: white;
            border: none;
            border-radius: 0;
            width: 160px;
            height: 50px;
            font-size: 20px;
            font-weight: medium;
            margin-bottom: 20px;
            margin-top: 50px;
            align-items: center;
            margin-left: 228px;
        }


        #announcementPassword .modal-header {
            border-bottom: 0;
        }

        #announcementPassword .modal-body h3 {
            text-align: center;
            padding-top: 44px;
            padding-bottom: 30px;
        }

        #announcementPassword .modal-body span {
            text-align: center;
        }

        #size-table .modal-body {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 0px;

        }

        #size-table .modal-header {
            padding-top: 0;
            border-bottom: 0;
            padding-bottom: 0;
        }


        /* Xử lý LOGO */


        .logo .logo-image {
            width: 200px;
            height: 60px;
            background-color: black;
            margin: 20px auto;
        }

        /* xử lý NAV */
        nav {
            height: 60px;
            background-color: white;
        }

        .my-navbar .nav-link {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .my-navbar ul li {
            margin-right: 30px;
        }

        .my-navbar ul li:last-child {
            margin-right: 0px;
        }


        .my-navbar .active a {
            font-size: 16px;
            font-weight: 600;
        }

        .my-navbar .nav-item a {
            transition: all 0.2s ease-in-out;
        }

        .my-navbar .nav-item:hover a {
            font-weight: 600;
        }

        .search-box {
            border: none;
            background-color: #f1f1f1;
        }

        .my-breadcrumb {
            background-color: #e9ecef;
            height: 60px;
            line-height: 60px;
        }

        .my-breadcrumb a {
            color: black;

        }

        /* Ảnh bìa */
        .anh-bia {
            height: 600px;
            width: 100%;
            background-color: aqua;
        }

        /* Sản phẩm mới */

        .san-pham-moi {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        .san-pham-moi h1 {
            text-transform: uppercase;
            font-size: 48px;
            text-align: center;
            margin-bottom: 80px;
            margin-top: 80px;
            font-weight: 300;
        }

        .san-pham-moi .item-san-pham-moi1 {
            background: url('../img/9.jpg');
            background-position: 45% 38%;
            height: 424px;
            width: 540px;
        }
        .san-pham-moi .item-san-pham-moi2 {
            background: url('../img/10.jpg');
            background-position: 45% 30%;
            height: 424px;
            width: 540px;
        }

        /* item Sản phẩm */

        .item-san-pham {
            border: none;
            margin-top: 20px;
        }

        .see-all a {
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            background-color: #ED1C24;
            color: white;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
            margin-bottom: 80px;
            margin-top: 113px;
            padding: 17px 48px;
        }

        .see-all .align-ct {
            text-align: center;
        }



        .information-delivery .address-list .col-9 button {
            font-size: 16px;
            margin-right: 0;
            margin-left: 0;
            background-color: #ED1C24;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            width: 380px;
            height: 50px;
            color: white;
        }
        .information-delivery .address-list .col-9 .align-right {
            float: right;
        }
        .information-delivery .address-list .col-9 {
            padding: 0;
        }
        .information-delivery .address-list .col-3 {
            padding: 0;
    
        }
        .information-delivery .address-list .col-3 a {
            color: black;
            font-size: 14px;
        }
        .information-delivery .bills .icon1 {
            background: url('../img/4.jpg');
            background-position: center center;
            background-size: 64px;
            width: 64px;
            height: 64px;
            border: solid 2px #cccccc;
            border-radius: 5px;
        }
        .information-delivery .bills .price-left {
            text-align: right;
            vertical-align: middle;
        }
        .information-delivery .bills .price-left button {
            width: 101px;
            height: 44px;
            background-color: #C9C9C9;
            border-color: #C9C9C9;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            font-size: 14px;
            font-weight: bold;

        }
        .information-delivery .bills .one, .information-delivery .bills .two,.information-delivery .bills .three {
            border-top: solid 1px #c9c9c9;
        }
        .information-delivery .bills .zero {
            margin-top: 80px;
            margin-bottom: 20px;
        }
        .information-delivery .bills .one {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .information-delivery .bills .two,.information-delivery .bills .three {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .information-delivery .icon-paying {
            margin-top: 80px;
            margin-bottom: 24px;
        }
        .information-delivery .detail-address .title-delivery {
            padding-top: 40px;
            padding-bottom: 20px;
        }
        .information-delivery .bills .col-2,
        .information-delivery .bills .col-3,
        .information-delivery .bills .col-6,
        .information-delivery .bills .col-8,
        .information-delivery .bills .col-9 {
            padding: 0;
        }











        footer {
            background-color: #272727;
            height: 359px;
            color: white;

        }

        .col-footer {
            margin-top: 60px;
            padding-left: 68px;
            height: 200px;
            border-right: 1px solid white;
        }

        .col-footer:first-child {
            padding-left: 0px;
        }

        .col-footer:last-child {
            border-right: none;
        }

        .col-footer h2 {
            color: #FFB300;
            list-style: none;
        }

        .col-footer ul {
            list-style: none;
        }

        .col-footer ul a {
            color: white;
            font-size: 20px;
        }

        footer .col-footer h2 {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .copyright p {
            margin-top: 50px;
        }

        .wrap-footer {
            margin: 0 140px;

        }

        footer h2,
        footer a {
            font-family: 'Open Sans', sans-serif;
        }

        footer .col-footer ul li .fa-facebook-f {
            border-radius: 50%;
            background-color: #276092;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
        }

        footer .col-footer ul li .fa-twitter {
            border-radius: 50%;
            background-color: #56A7E5;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
        }

        footer .col-footer ul li .fa-google {
            border-radius: 50%;
            background-color: #CF5D46;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
        }

        .remove-padding {
            padding-right: 0px;
            padding-left: 0px;
        }

        .col-footer {
            padding-right: 0px;
        }




        .slider2 img {
            width: 100%;
            height: 100px;
        }

        /* >> END Hiếu iceTea */


        .visual-img .thumb img:hover,
        .visual-img .thumb img.active {
            box-shadow: 0 0 15px rgba(0, 0, 0, .25);
        }

        .visual-img img {
            margin-bottom: 8px;
        }

        .slick-prev,
        .slick-next {
            /* background-color: #FFB300; */

        }

        .slick-prev::before,
        .slick-next::before {
            color: #FFB300;
            position: absolute;
            top: -25px;
            left: 0px;

        }




        .related-product {
            padding-bottom: 80px;
        }

        .related-product h3 {
            text-align: center;
        }

        .related-product-list-item .item-san-pham {
            padding: 5px;
        }

        .related-product-list-item {
            position: relative;
        }






        .information .vertical-menu a {
            display: block;
            color: black;
        }

        .information {
            margin-top: 50px;
            margin-bottom: 132px;
        }

        .information h3 {
            padding-bottom: 50px;
        }

        .information .vertical-menu a {
            padding-bottom: 20px;
        }

        .information .item-list thead th {
            padding-top: 13px;
            padding-bottom: 13px;
        }

        .information .item-list tbody th,
        .information .item-list tbody td {
            padding-top: 26px;
            padding-bottom: 26px;
        }

        .information .item-list table {
            text-align: center;

        }

        .information .item-list table th {
            font-weight: normal;
        }

        .address-item {
            padding: 20px 40px;
            border: 1px solid #707070;
            margin-bottom: 20px;
        }

        .address-item p:first-child {
            margin-bottom: 20px;
        }

        .address-item p {
            margin-bottom: 10px;
        }

        .address-item p:first-child a {
            float: right;
        }

        .address-item p:first-child a:nth-child(3) {
            color: #FFB300;
        }

        .address-item p:first-child a:nth-child(2) {
            margin-left: 20px;
            color: #ED1C24;
        }

        .address-item p:first-child strong {
            font-size: 18px;
        }

        .my-btn {
            padding: 12px 27px;
            border-radius: 0%;
        }



        .store .filter {
            float: right;
        }

        .store .filter span {
            font-size: 30px;
            vertical-align: bottom;
        }

        .store .filter .btn-secondary {
            color: black;
            background-color: white;
        }

        .store .filter .btn {
            border-radius: 0;
        }

        .store .arrange h3 {
            text-transform: uppercase;
        }

        .store {
            padding-top: 50px;
            padding-bottom: 80px;

        }

        .store .col-md-4 h3 {
            padding-bottom: 50px;
        }

        .store .fashion p {
            text-transform: uppercase;
        }

        .store .next-page button {
            width: 42px;
            height: 42px;
            font-size: 14px;
            margin-right: 0;
            margin-left: 0;
            background-color: #fff;
            border-color: black;
            border-width: 1px;
            border-image: none;
            border-style: solid;
        }

        .store .next-page .float-r {
            float: right;
            padding-top: 73px;
        }

        .store .hoodie,
        .store .pants,
        .store .t-shirt {
            padding-top: 125px;
        }








        .your-cart .container h3 {
            font-size: 30px;
            font-weight: 400;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .your-cart .product-price img {
            width: 110px;
            height: 100px;
        }

        .your-cart .product-price th {
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
            font-size: 14px;

        }

        .your-cart .product-price th p {
            text-transform: uppercase;
        }

        .your-cart .product-price tbody th {
            height: 175px;
        }

        .your-cart .product-price button {
            width: 25px;
            height: 25px;
            font-size: 10px;
            margin-right: 0;
            margin-left: 0;
            background-color: #fff;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
        }

        .your-cart .keep-buying button {
            font-size: 16px;
            margin-right: 0;
            margin-left: 0;
            background-color: #ED1C24;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            width: 270px;
            height: 50px;
            text-transform: uppercase;
            color: white;

        }

        .your-cart .table th {
            font-size: 14px;
            font-weight: normal;
        }

        .your-cart .table th span {
            float: right;
        }

        .your-cart .distance30 {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .your-cart .paying button {
            font-size: 16px;
            margin-right: 0;
            margin-left: 0;
            background-color: #ED1C24;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            width: 450px;
            height: 50px;
            text-transform: uppercase;
            color: white;
            float: right;
            margin-bottom: 80px;
        }




        .detail {
            padding-top: 80px;
        }

        .detail .col-md-6 .col-12 a {
            float: right;
        }

        .detail .row .size button {
            width: 42px;
            height: 42px;
            background-color: white;
            border-color: #707070;
            border-width: 1px;
            -webkit-appearance: none;
        }

        .detail .row .size button:hover {
            background-color: #ED1C24;
            color: white;
        }

        .detail .row .size button:focus {
            background-color: #ED1C24;
            color: white;
            border: solid 1px black;
            border-radius: 0;
        }

        .detail .amount .so-luong {
            width: 50px;
            height: 42px;
        }

        .detail .amount button {
            width: 42px;
            height: 42px;
            background-color: white;
            border-color: #707070;
            border-width: 1px;
            -webkit-appearance: none;
        }

        .detail .amount a {
            padding: 10.5px 18.5px;
            background-color: #ED1C24;
            color: white;
            text-decoration: initial;
        }

        .detail p,
        .detail span {
            font-size: 14px;
        }

        .detail p {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .detail .describe h3 {
            padding-top: 20px;
            padding-bottom: 30px;
        }

        .detail .card-text {
            font-size: 30px;
            font-weight: 600;
            padding: 0;
        }




        .chinh-sach-bao-mat,
        .gioi-thieu,
        .tro-giup {
            padding-bottom: 80px;
        }

        .chinh-sach-bao-mat h2,
        .gioi-thieu h2,
        .tro-giup h2 {
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .lien-he iframe {
            margin-top: 50px;
        }