        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Roboto Mono;

        }

        p {
            margin-bottom: 0;
        }


        h3 {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 0;
        }

        h6 {
            font-size: 18px;
            font-weight: 400;
            padding-top: 40px;
            padding-bottom: 20px;
        }


        /* cấu hình headline */

        .headline {
            height: 40px;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            background-color: #f1f1f1;
            line-height: 40px;
        }

        .headline .left {
            float: left;
        }

        .headline .right {
            float: right;
        }

        .headline .right ul {
            list-style: none;
        }

        .headline .right ul li {
            display: inline;
            margin-right: 12px;
        }

        .headline .right ul li:last-child {
            margin-right: 0px;
        }

        .headline .right ul li a {
            color: black;
        }

        .headline .right ul li a:hover {
            color: blueviolet;
        }

        #ModalLogin button[type=submit] {
            background-color: #ED1C24;
            color: white;
            border: none;
            border-radius: 0;
            width: 160px;
            height: 50px;
            font-size: 20px;
            font-weight: medium;
            margin-bottom: 20px;
        }
        #ModalLogin button[type=submit] a {
            color: white;
            text-decoration: none;
        }

        #ModalLogin .modal-header {
            border-bottom: none;

            padding-top: 50px;
            padding-left: 80px;
            padding-right: 80px;
            padding-bottom: 30px;

            position: relative;
        }

        #ModalLogin .modal-body .col-12 {
            padding: 0;
        }

        #ModalLogin .modal-body .col-12 a {
            float: right;
            vertical-align: bottom;
        }


        #ModalLogin #forgot-pw {
            float: right;
            line-height: 50px;
        }

        .modal-dialog {
            max-width: 812px;
        }

        .modal-body {
            padding-bottom: 50px;
            padding-left: 97px;
            padding-right: 97px;
            padding-top: 0;
        }

        #ModalLogin .form-group:nth-child(1) {
            margin-bottom: 30px;
        }

        #ModalLogin .form-group:nth-child(2) {
            margin-bottom: 26px;
        }

        .close {
            position: absolute;
            right: 25px;
            top: 20px;
        }




        #ModalSignUp button[type=submit] {
            background-color: #ED1C24;
            color: white;
            border: none;
            border-radius: 0;
            width: 160px;
            height: 50px;
            font-size: 20px;
            font-weight: medium;
            margin-bottom: 20px;
        }

        #ModalSignUp .modal-header {
            border-bottom: none;

            padding: 50px 80px 30px 80px;

            position: relative;
        }

        #ModalSignUp .form-group:nth-child(1) {
            margin-bottom: 30px;
        }

        #ModalSignUp .form-group:nth-child(2) {
            margin-bottom: 26px;
        }


        #complete-signup .modal-header {
            border-bottom: none;
        }

        #complete-signup .modal-body p {
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            padding-top: 10px;
        }

        #complete-signup .modal-body {
            padding-left: 40px;
            padding-right: 40px;
        }


        #recoveryPassword .modal-header {
            border-bottom: 0;
        }

        #recoveryPassword .modal-footer {
            border-top: 0;
        }

        #recoveryPassword .modal-body h3 {
            text-align: center;
            padding-bottom: 30px;
            padding-top: 44px;
        }

        #recoveryPassword .modal-body p {
            padding-bottom: 10px;
        }

        #recoveryPassword .modal-body button {
            background-color: #ED1C24;
            color: white;
            border: none;
            border-radius: 0;
            width: 160px;
            height: 50px;
            font-size: 20px;
            font-weight: medium;
            margin-bottom: 20px;
            margin-top: 50px;
            align-items: center;
            margin-left: 228px;
        }


        #announcementPassword .modal-header {
            border-bottom: 0;
        }

        #announcementPassword .modal-body h3 {
            text-align: center;
            padding-top: 44px;
            padding-bottom: 30px;
        }

        #announcementPassword .modal-body span {
            text-align: center;
        }

        #size-table .modal-body {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 0px;

        }

        #size-table .modal-header {
            padding-top: 0;
            border-bottom: 0;
            padding-bottom: 0;
        }


        /* Xử lý LOGO */

        .logo .logo-image {
            text-align: center;
            padding-top: 20px;
        }

        .logo .logo-image img {
            width: 143px;
            height: 60px;
        }

        /* xử lý NAV */
        nav {
            height: 60px;
            background-color: white;
        }

        .my-navbar .nav-link {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }

        .my-navbar ul li {
            margin-right: 30px;
        }

        .my-navbar ul li:last-child {
            margin-right: 0px;
        }


        .my-navbar .active a {
            font-size: 16px;
            font-weight: 600;
        }

        .my-navbar .nav-item a {
            transition: all 0.2s ease-in-out;
        }

        .my-navbar .nav-item:hover a {
            font-weight: 600;
        }

        .search-box {
            border: none;
            background-color: #f1f1f1;
        }

        .search-box .iconblack {
            color: black;
        }

        .search-box .point {
            cursor: pointer;
        }


        .my-breadcrumb {
            background-color: #e9ecef;
            height: 60px;
            line-height: 60px;
        }

        .my-breadcrumb a {
            color: black;

        }

        /* Ảnh bìa */

        /* Sản phẩm mới */

        .san-pham-moi {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        .san-pham-moi h1 {
            text-transform: uppercase;
            font-size: 48px;
            text-align: center;
            margin-bottom: 80px;
            margin-top: 80px;
            font-weight: 300;
        }

        .san-pham-moi .item-san-pham-moi1 {
            background: url('../img/9.jpg');
            background-position: 45% 38%;
            height: 424px;
            width: 540px;
        }

        .san-pham-moi .item-san-pham-moi2 {
            background: url('../img/10.jpg');
            background-position: 45% 30%;
            height: 424px;
            width: 540px;
        }

        /* item Sản phẩm */

        .item-san-pham {
            border: none;
            margin-top: 20px;
        }

        .item-san-pham:hover img {
            border: 1px solid #cccccc;
            transform: scale(1.2);
            border-radius: 5px;
        }

        .list-item-san-pham a {
            color: black;
            text-decoration: none;
        }


        .accordion .card-header span {
            text-decoration: none;
            color: black;
            font-size: 14px;
            font-weight: lighter;
            padding-left: 20px;
        }

        .accordion .card-header {
            background-color: white;
            padding: 14px 20px;
            text-decoration: none;
        }

        .accordion .btn-link {
            padding: 0px;
        }

        .accordion .card-body p {
            text-align: center;
            font-size: 14px;
            font-weight: lighter;
        }




        .see-all a {
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            background-color: #ED1C24;
            color: white;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
            margin-bottom: 80px;
            margin-top: 113px;
            padding: 17px 48px;
        }

        .see-all .align-ct {
            text-align: center;
        }



        .information-delivery .address-list .col-9 button {
            font-size: 16px;
            margin-right: 0;
            margin-left: 0;
            background-color: #ED1C24;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            width: 380px;
            height: 50px;
            color: white;
        }

        .information-delivery .address-list .col-9 .align-right {
            float: right;
        }

        .information-delivery .address-list .col-9 .align-right a {
            color: white;
            text-decoration: none;
        }

        .information-delivery .address-list .col-9 {
            padding: 0;
        }

        .information-delivery .address-list .col-3 {
            padding: 0;

        }

        .information-delivery .address-list .col-3 a {
            color: black;
            font-size: 14px;
        }

        .information-delivery .bills .icon1 {
            background: url('../img/4.jpg');
            background-position: center center;
            background-size: 64px;
            width: 64px;
            height: 64px;
            border: solid 2px #cccccc;
            border-radius: 5px;
        }

        .information-delivery .bills .price-left {
            text-align: right;
            vertical-align: middle;
        }

        .information-delivery .bills .price-left button {
            width: 101px;
            height: 44px;
            background-color: #C9C9C9;
            border-color: #C9C9C9;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            font-size: 14px;
            font-weight: bold;

        }

        .information-delivery .bills .one,
        .information-delivery .bills .two,
        .information-delivery .bills .three {
            border-top: solid 1px #c9c9c9;
        }

        .information-delivery .bills .zero {
            margin-top: 80px;
            margin-bottom: 20px;
        }

        .information-delivery .bills .one {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .information-delivery .bills .two,
        .information-delivery .bills .three {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .information-delivery .icon-paying {
            margin-top: 80px;
            margin-bottom: 24px;
            text-align: left;
        }

        .information-delivery .icon-paying img {
            width: 143px;
            height: 60px;
        }

        .information-delivery .detail-address .title-delivery {
            padding-top: 40px;
            padding-bottom: 20px;
        }

        .information-delivery .bills .col-2,
        .information-delivery .bills .col-3,
        .information-delivery .bills .col-6,
        .information-delivery .bills .col-8,
        .information-delivery .bills .col-9 {
            padding: 0;
        }


        .information-account .sidebar a:hover {
            font-weight: bold;
        }

        .information-account .sidebar a {
            padding-bottom: 20px;
            color: black;
            text-decoration: none;
        }

        .information-account .sexuality .radiobox-sex {
            float: right;
            padding-right: 150px;
        }

        .information-account .sexuality .radiobox-sex span {
            padding-left: 10px;
            padding-right: 80px;
        }

        .information-account .sexuality .radiobox-sex input {
            padding-left: 80px;
        }

        .information-account .sexuality {
            padding-top: 20px;
            padding-bottom: 40px;
        }

        .information-account .col-md-8 button {
            background-color: #ED1C24;
            color: white;
            border: none;
            border-radius: 0;
            width: 270px;
            height: 50px;
            font-size: 16px;
            font-weight: medium;
            margin-bottom: 80px;
            text-transform: uppercase;
            margin-top: 40px;
        }

        .information-account .col-md-8 .up-to-date {
            color: white;
        }

        .information-account .set-padding {
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .information-account p {
            margin-top: 20px;
        }

        /* dropdown cart */


        .shopping-cart {
            position: relative;
        }

        .cart-content {
            position: absolute;
            left: -280px;
        }

        .cart-content {
            width: 300px;
            height: 250px;
            padding: 15px 17px;
        }

        .shopping-cart .cart-item img {
            width: 60px;
            height: 60px;
        }

        .shopping-cart .cart-item {
            display: inline-block;
            margin-top: 8px;
        }

        .shopping-cart span {
            font-size: 10px;
            font-weight: lighter;
        }

        .shopping-cart strong {
            font-size: 10px;

        }

        .shopping-cart .footer-cart button {
            background-color: #ED1C24;
            border: none;
            border-radius: 0;
            width: 264px;
            height: 50px;
            font-size: 16px;
            font-weight: medium;
        }

        .shopping-cart .footer-cart a {
            color: white;
        }

        .shopping-cart .j-padding {
            padding-left: 90px;
            padding-top: 11px;
            padding-bottom: 21.5px;
        }

        .shopping-cart .footer-cart {
            border-top: 1px solid #cccccc;
        }

        .shopping-cart .footer-cart .r-flo {
            text-align: right;
            padding-left: 42px;
        }

        .shopping-cart .footer-cart .col-2 {
            padding: 0;
        }

        .shopping-cart .footer-cart .container {
            padding: 14.5px 0 15px 0;
        }

        .shopping-cart .footer-cart p {
            font-size: 10px;
        }

        .shopping-cart .j-padding button {
            background-color: white;
            border: 1px solid #cccccc;
            border-radius: 0;
            width: 25px;
            height: 25px;
            font-size: 10px;
            font-weight: medium;
        }

        .shopping-cart .cart-button {
            border: none;
            background: white;
            padding: 0;
        }

        .shopping-cart .cart-button:focus {
            outline: none;
        }

        .shopping-cart {
            position: relative;
        }

        .shopping-cart:after {
            position: absolute;
            content: '1';
            font-size: 8px;
            text-align: center;
            padding-top: 3px;
            border-radius: 50%;
            color: white;
            width: 16px;
            height: 16px;
            left: 65%;
            bottom: 50%;
            top: -4px;
            background-color: #ED1C24;
            z-index: 10000;
            animation-name: move;
            animation-duration: 1s;
            animation-iteration-count: inherit;
            animation-timing-function: ease;
        }
        @keyframes move{
            from{ top: -50px;}
            to{ top: -4px;}
        }
        
        .collapse .dropdown {
            position: relative;
        }

        .collapse .dropdown .menu-nav {
            position: absolute;
            left: -30%;
        }
        








        .follow-bills .sidebar a:hover {
            font-weight: bold;
        }

        .follow-bills .sidebar a {
            padding-bottom: 20px;
            color: black;
            text-decoration: none;
        }

        .follow-bills .set-padding {
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .follow-bills .sidebar p {
            margin-top: 20px;
        }

        .follow-bills .col-md-9 .image-step .image-component {
            text-align: center;
        }

        .follow-bills .col-md-9 .image-step .frame-icon {
            border: 1px solid #cccccc;
            text-align: center;
            vertical-align: middle;
            width: 34px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 5px;
        }

        .follow-bills .col-md-9 .image-step .image-component {
            position: relative;
            background: white;
        }

        .follow-bills .col-md-9 .image-step .image-component .frame-icon {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            background: white;
        }

        .follow-bills .col-md-9 .image-step {
            position: relative;
        }

        .follow-bills .col-md-9 .image-step:after {
            position: absolute;
            content: '';
            width: 75%;
            height: 2px;
            left: 55%;
            bottom: -40%;
            transform: translateX(-50%);
            background-color: #cccccc;
            z-index: -2;
        }




        .follow-bills .col-md-8 .detail-bill .col-md-4 {
            padding: 0;
        }

        .follow-bills .detail-bill .picture {
            background: url(../img/4.jpg);
            background-position: center center;
            background-size: 110px;
            width: 110px;
            height: 110px;
            border: 1px solid #cccccc;
            border-radius: 5px;
        }

        .follow-bills .detail-bill {
            margin-top: 50px;
            border: 1px solid #cccccc;
            padding: 30px 50px;
            border-radius: 5px;
            margin-bottom: 80px;
            margin-left: 15px;
        }

        .follow-bills .detail-bill .color33 {
            color: #ED1C24;
        }













        .paying-way {
            padding-bottom: 160px;
        }

        .paying-way .col-md-6 .input-group .marked-text {
            padding-top: 2px;
            border-radius: .25rem;
        }

        .paying-way .col-md-6 .input-group .marked-text p {
            font-size: 14px;
            font-weight: lighter;
        }

        .paying-way .col-md-6 .input-group .input-group-text {
            border: 0;
            background-color: white;
            padding-left: 5px;
            padding-right: 20px;
        }

        .paying-way .checkbox-delivery {
            border: 1px solid #ced4da;
            border-radius: .25rem;
            padding-top: 10px;
            padding-bottom: 10px;
        }


        .paying-way .radiobox .COD {
            outline: solid;
            padding-top: 20px;
        }




        #complete-item-bill .modal-header {
            display: block;
            padding: 0;
            text-align: center;
            border-bottom: none;

        }


        #complete-item-bill h5 {
            font-size: 30px;
            font-weight: 400;
            padding-top: 50px;
            padding-bottom: 10px;
        }

        #complete-item-bill .modal-body {
            text-align: center;
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 30px;
        }

        #complete-item-bill button {
            background-color: #ED1C24;
            color: white;
            border: none;
            border-radius: 0;
            width: 270px;
            height: 50px;
            font-size: 16px;
            font-weight: medium;
            margin-bottom: 20px;
            text-transform: uppercase;
            margin-top: 32px;
        }
        #complete-item-bill a {
            color: white;
        }




        /* banner ở đây */
        .anh-bia {
            background-image: url(../img/223.png);
            background-position: center 45%;
            width: 100%;
            height: 1362px;
        }


        .paying-way .COD,
        .paying-way .bank {
            border: 1px solid #ced4da;
            padding: 14px 20px;
            border-radius: .25rem;
        }

        .paying-way .COD span,
        .paying-way .bank span {
            font-size: 14px;
            font-weight: lighter;
            padding-left: 20px;
        }

        .paying-way .detail-bank {
            text-align: center;
            font-size: 14px;
            font-weight: lighter;
            padding: 31px;
            border: 1px solid #ced4da;
        }

        .paying-way .pay-footer {
            padding-top: 20px;
        }

        .paying-way .pay-footer button {
            font-size: 16px;
            margin-right: 0;
            margin-left: 0;
            background-color: #ED1C24;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            width: 206px;
            height: 50px;
        }

        .paying-way .pay-footer button a {
            color: white;
        }

        .paying-way .pay-footer .col-7 a {
            color: black;
        }

        .paying-way .pay-footer .col-7 .can-giua {
            padding-top: 13px;
        }











        footer {
            background-color: #272727;
            height: 359px;
            color: white;

        }

        .col-footer {
            margin-top: 60px;
            padding-left: 68px;
            height: 200px;
            border-right: 1px solid white;
        }

        .col-footer:first-child {
            padding-left: 0px;
        }

        .col-footer:last-child {
            border-right: none;
        }

        .col-footer h2 {
            color: #FFB300;
            list-style: none;
        }

        .col-footer ul {
            list-style: none;
        }

        .col-footer ul a {
            color: white;
            font-size: 20px;
        }

        footer .col-footer h2 {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .copyright p {
            margin-top: 50px;
        }

        .wrap-footer {
            margin: 0 140px;

        }

        footer h2,
        footer a {
            font-family: 'Open Sans', sans-serif;
        }

        footer .col-footer ul li .fa-facebook-f {
            border-radius: 50%;
            background-color: #276092;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
        }

        footer .col-footer ul li .fa-twitter {
            border-radius: 50%;
            background-color: #56A7E5;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
        }

        footer .col-footer ul li .fa-google {
            border-radius: 50%;
            background-color: #CF5D46;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
        }

        .remove-padding {
            padding-right: 0px;
            padding-left: 0px;
        }

        .col-footer {
            padding-right: 0px;
        }




        .slider2 img {
            width: 100%;
            height: 100px;
        }

        /* >> END Hiếu iceTea */


        .visual-img .thumb img:hover,
        .visual-img .thumb img.active {
            box-shadow: 0 0 5px rgba(0, 0, 0, .25);
        }

        .visual-img img {
            margin-bottom: 8px;
        }

        .visual-img #big-photo {
            width: 470px;
            height: 470px;
        }

        .visual-img .thumb img {
            width: 80px;
            height: 80px;
        }

        .slick-prev,
        .slick-next {
            /* background-color: #FFB300; */

        }

        .slick-prev::before,
        .slick-next::before {
            color: #FFB300;
            position: absolute;
            top: -25px;
            left: 0px;

        }




        .related-product {
            padding-bottom: 80px;
        }

        .related-product h3 {
            text-align: center;
        }

        .related-product-list-item .item-san-pham {
            padding: 5px;
        }

        .related-product-list-item {
            position: relative;
        }

        .related-product-list-item .slick-active {
            outline: white;
        }






        .information .vertical-menu a {
            display: block;
            color: black;
        }

        .information {
            margin-top: 50px;
            margin-bottom: 132px;
        }

        .information h3 {
            padding-bottom: 50px;
        }

        .information .vertical-menu a {
            padding-bottom: 20px;
        }

        .information .item-list thead th {
            padding-top: 13px;
            padding-bottom: 13px;
        }

        .information .item-list tbody th,
        .information .item-list tbody td {
            padding-top: 26px;
            padding-bottom: 26px;
        }

        .information .item-list table {
            text-align: center;

        }

        .information .item-list table th {
            font-weight: normal;
        }

        .information button {
            font-size: 20px;
            margin-right: 0;
            margin-left: 0;
            background-color: #ED1C24;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            width: 150px;
            height: 50px;
            text-transform: uppercase;
            margin-top: 38px;
        }

        .information .up-to-date {
            color: white;
        }

        .address-item {
            padding: 20px 40px;
            border: 1px solid #707070;
            margin-bottom: 20px;
        }

        .address-item p:first-child {
            margin-bottom: 20px;
        }

        .address-item p {
            margin-bottom: 10px;
        }

        .address-item p:first-child a {
            float: right;
        }

        .address-item p:first-child a:nth-child(3) {
            color: #FFB300;
        }

        .address-item p:first-child a:nth-child(2) {
            margin-left: 20px;
            color: #ED1C24;
        }

        .address-item p:first-child strong {
            font-size: 18px;
        }

        .my-btn {
            padding: 12px 27px;
            border-radius: 0%;
        }



        .store .filter {
            float: right;
        }

        .store .filter span {
            font-size: 30px;
            vertical-align: bottom;
        }

        .store .filter .btn-secondary {
            color: black;
            background-color: white;
        }

        .store .filter .btn {
            border-radius: 0;
        }

        .store .arrange h3 {
            text-transform: uppercase;
        }

        .store {
            padding-top: 50px;
            padding-bottom: 80px;

        }

        .store .col-md-4 h3 {
            padding-bottom: 50px;
        }

        .store .fashion p {
            text-transform: uppercase;
        }

        .store .next-page button {
            width: 42px;
            height: 42px;
            font-size: 14px;
            margin-right: 0;
            margin-left: 0;
            background-color: #fff;
            border-color: black;
            border-width: 1px;
            border-image: none;
            border-style: solid;
        }

        .store .next-page .float-r {
            float: right;
            padding-top: 73px;
        }

        .store .hoodie,
        .store .pants,
        .store .t-shirt {
            padding-top: 125px;
        }
        .store .fashion a {
            color: black;
            text-decoration: none;
        }








        .your-cart .container h3 {
            font-size: 30px;
            font-weight: 400;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .your-cart .product-price img {
            width: 110px;
            height: 100px;
        }

        .your-cart .product-price th {
            text-align: center;
            vertical-align: middle;
            font-weight: normal;
            font-size: 14px;

        }

        .your-cart .product-price th p {
            text-transform: uppercase;
        }

        .your-cart .product-price tbody th {
            height: 175px;
        }

        .your-cart .product-price button {
            width: 25px;
            height: 25px;
            font-size: 10px;
            margin-right: 0;
            margin-left: 0;
            background-color: #fff;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
        }

        .your-cart .keep-buying button {
            font-size: 16px;
            margin-right: 0;
            margin-left: 0;
            background-color: #ED1C24;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            width: 270px;
            height: 50px;
            text-transform: uppercase;
            color: white;

        }

        .your-cart .table th {
            font-size: 14px;
            font-weight: normal;
        }

        .your-cart .table th span {
            float: right;
        }

        .your-cart .distance30 {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .your-cart .distance30 button:focus {
            outline: none;
        }
        .your-cart .distance30 a {
            color: white;
            text-decoration: none;
        }


        .your-cart .paying button {
            font-size: 16px;
            margin-right: 0;
            margin-left: 0;
            background-color: #ED1C24;
            border-color: #ddd;
            border-width: 1px;
            border-image: none;
            border-style: solid;
            width: 450px;
            height: 50px;
            text-transform: uppercase;
            color: white;
            float: right;
            margin-bottom: 80px;
        }
        .your-cart .paying button:focus {
            outline: none;
        }
        .your-cart .paying a {
            color: white;
            text-decoration: none;
        }




        .detail {
            padding-top: 80px;
        }

        .detail .col-md-6 .col-12 a {
            float: right;
        }

        .detail .row .size button {
            width: 42px;
            height: 42px;
            background-color: white;
            border-color: #707070;
            border-width: 1px;
            -webkit-appearance: none;
        }

        .detail .row .size button:hover {
            background-color: #ED1C24;
            color: white;
        }


        .detail .row .size button:focus {
            background-color: #ED1C24;
            color: white;
            border-radius: 0;
            outline: none;
            border-color: white;
        }

        .detail .row .size a {
            font-size: 14px;
            color: #ED1C24;
        }

        .detail .amount .so-luong {
            width: 50px;
            height: 42px;
        }

        .detail .amount button {
            width: 42px;
            height: 42px;
            background-color: white;
            border-color: #707070;
            border-width: 1px;
        }
        .detail .amount button:focus {
            outline: none;
        }

        .detail .amount a {
            padding: 10.5px 18.5px;
            background-color: #ED1C24;
            color: white;
            text-decoration: initial;
        }

        .detail p,
        .detail span {
            font-size: 14px;
        }

        .detail p {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .detail .describe h3 {
            padding-top: 20px;
            padding-bottom: 30px;
        }

        .detail .card-text {
            font-size: 30px;
            font-weight: 600;
            padding: 0;
        }




        .chinh-sach-bao-mat,
        .gioi-thieu,
        .tro-giup {
            padding-bottom: 80px;
        }

        .chinh-sach-bao-mat h2,
        .gioi-thieu h2,
        .tro-giup h2,
        .lien-he h2 {
            font-size: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
            font-weight: 400;
        }


        .lien-he iframe {
            margin-top: 50px;
        }

        .lien-he ul {
            padding-left: 20px;
        }

        .lien-he {
            padding-bottom: 80px;
        }